<div class="p-5 border border-gray-200 rounded-2xl dark:border-gray-800 lg:p-6">
  <div class="flex flex-col gap-5 xl:flex-row xl:items-center xl:justify-between">
    <div class="flex flex-col items-center w-full gap-6 xl:flex-row">
      <div
  class="relative w-20 h-20 rounded-full overflow-hidden border border-gray-200 dark:border-gray-800 group cursor-pointer"
  (click)="fileInput.click()"
>
  <!-- Image -->
  <img class="w-full h-full object-cover" [src]="imageSrc" alt="Profile" />


  <!-- Hover overlay -->
  <div
    class="absolute inset-0 bg-black/50 flex items-center justify-center
           opacity-0 group-hover:opacity-100 transition-opacity"
  >
    <svg
      class="w-6 h-6 text-white"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      viewBox="0 0 24 24"
    >
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M3 16l4 4m0 0l4-4m-4 4V4m6 12l4 4m0 0l4-4m-4 4V4"
      />
    </svg>
  </div>

  <!-- Hidden input -->
  <input
    #fileInput
    type="file"
    accept="image/*"
    class="hidden"
    (change)="onFileSelected($event)"
  />
</div>


      <div>
        <h4 class="mb-2 text-lg font-semibold text-center text-gray-800 dark:text-white/90 xl:text-left">
          {{ profile.name }}
        </h4>

        <div class="flex flex-col items-center gap-1 text-center xl:flex-row xl:gap-3 xl:text-left">
          <p class="text-sm text-gray-500 dark:text-gray-400">
            {{ profile.role }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<app-modal [isOpen]="isOpen" (close)="closeModal()" className="max-w-[700px] m-4">
  <div class="relative w-full p-4 overflow-y-auto bg-white rounded-3xl dark:bg-gray-900 lg:p-11">
    <h4 class="mb-2 text-2xl font-semibold text-gray-800 dark:text-white/90">Edit Profile</h4>

    <form class="flex flex-col" (ngSubmit)="handleSave()">
      <div class="mt-6">
        <label class="block mb-2 text-sm text-gray-600 dark:text-gray-300">Full Name</label>
        <input class="w-full border rounded-lg p-3" [(ngModel)]="editName" name="editName" />
      </div>

      <div class="flex items-center gap-3 mt-6 lg:justify-end">
        <app-button size="sm" variant="outline" (btnClick)="closeModal()">Close</app-button>
        <app-button size="sm" (btnClick)="handleSave()">Save Changes</app-button>
      </div>
    </form>
  </div>
</app-modal>
