<div class="p-5 border border-gray-200 rounded-2xl dark:border-gray-800 lg:p-6">
  <div class="flex flex-col gap-6 lg:flex-row lg:items-start lg:justify-between">
    <div>
      <h4 class="text-lg font-semibold text-gray-800 dark:text-white/90 lg:mb-6">
        Personal Information
      </h4>

      <div class="grid grid-cols-1 gap-4 lg:grid-cols-2 lg:gap-7 2xl:gap-x-32">
        <div>
  <p class="mb-2 text-xs leading-normal text-gray-500 dark:text-gray-400">Full Name</p>
  <p class="text-sm font-medium text-gray-800 dark:text-white/90">{{ profile.name }}</p>
</div>


        <div>
          <p class="mb-2 text-xs leading-normal text-gray-500 dark:text-gray-400">Email address</p>
          <p class="text-sm font-medium text-gray-800 dark:text-white/90">{{ profile.email }}</p>
        </div>

        <div>
          <p class="mb-2 text-xs leading-normal text-gray-500 dark:text-gray-400">Role</p>
          <p class="text-sm font-medium text-gray-800 dark:text-white/90">{{ profile.role }}</p>
        </div>
      </div>
    </div>

    <button
      (click)="openModal()"
      class="flex w-full items-center justify-center gap-2 rounded-full border border-gray-300 bg-white px-4 py-3 text-sm font-medium text-gray-700 shadow-theme-xs hover:bg-gray-50 hover:text-gray-800 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-white/[0.03] dark:hover:text-gray-200 lg:inline-flex lg:w-auto"
    >
      Edit
    </button>
  </div>

  <!-- Modal -->
  <app-modal [isOpen]="isOpen" (close)="closeModal()" className="max-w-[700px] m-4">
    <div class="relative w-full p-4 overflow-y-auto bg-white rounded-3xl dark:bg-gray-900 lg:p-11">
      <div class="px-2 pr-14">
        <h4 class="mb-2 text-2xl font-semibold text-gray-800 dark:text-white/90">
          Edit Personal Information
        </h4>
        <p class="mb-6 text-sm text-gray-500 dark:text-gray-400 lg:mb-7">
          Update your details to keep your profile up-to-date.
        </p>
      </div>

      <form class="flex flex-col" (ngSubmit)="handleSave()">
        <div class="px-2">
          <label class="block mb-2 text-sm text-gray-600 dark:text-gray-300">Full Name</label>
          <input
            class="w-full rounded-lg border border-gray-300 bg-white px-4 py-3 text-sm text-gray-800 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-200"
            [(ngModel)]="editName"
            name="editName"
            type="text"
          />
        </div>

        <div class="flex items-center gap-3 px-2 mt-6 lg:justify-end">
          <app-button size="sm" variant="outline" (btnClick)="closeModal()">Close</app-button>
          <app-button size="sm" (btnClick)="handleSave()">Save Changes</app-button>
        </div>
      </form>
    </div>
  </app-modal>
</div>
